/* 유지보수형 대시보드 */
.section {
  max-width: 72rem;
  margin: 0 auto 100px;
}

.pageTitle {
  text-align: left;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageTitleHeading {
  font-size: 32px;
  font-weight: var(--font-weight-semibold);
  margin: 0;
}

.pageTitleName {
  color: var(--primary);
  font-weight: var(--font-weight-bold);
}

.whiteBox {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  width: 100%;
  padding: 50px 50px;
  box-sizing: border-box;
  position: relative;
}

.typeBox {
  margin-bottom: 50px;
}

.boxTitle {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  margin: 0 0 40px;
}

.typePeriod {
  font-size: 16px;
  color: var(--text-gray);
  margin: 0 0 40px;
}

.typeContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid var(--border-color);
}

.typeContent>div {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.typeHead {
  font-size: 15px;
  font-weight: var(--font-weight-semibold);
  flex: 1;
  padding: 20px;
  background-color: var(--background-color);
}

.typeData {
  font-size: 16px;
  color: var(--text-gray);
  margin: 0;
  flex: 1;
  padding: 20px;
  font-weight: var(--font-weight-bold);
}

.typeData span:not(.fontBold) {
  font-size: 14px;
  color: var(--text-gray);
}

.fontBold {
  font-weight: var(--font-weight-bold);
  color: var(--primary);
}

.flexBox {
  display: flex;
  gap: 50px;
}

.leftBox,
.rightBox {
  flex: 1;
}

.mainBtn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  right: 40px;
  top: 40px;
  background: var(--gray_bg);
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.mainBtn:hover {
  background-color: var(--primary);
}

.mainBtn:hover img {
  filter: invert(1);
}

.arrowIcon {
  width: 10px;
  height: 10px;
  object-fit: contain;
}

.approvalBox {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.approvalBox>div {
  flex: 1;
  text-align: center;
  padding: 16px;
  background: var(--background-color);
  border-radius: 8px;
}

.approvalBox>div span {
  display: block;
  font-size: 15px;
  color: var(--text-color);
  font-weight: var(--font-weight-semibold);
}

.approvalBox>div p {
  font-size: 18px;
  margin: 0;
  font-weight: var(--font-weight-bold);
}

.tableWrap {
  margin-top: 40px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid var(--border-color);
}

.table thead th {
  padding: 20px 12px;
  text-align: center;
  font-weight: var(--font-weight-semibold);
  font-size: 14px;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-gray);
}

.table tbody td {
  padding: 12px;
  font-size: 14px;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

.textOverflow p {
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textOverflow p {
  margin: 0;
}

.approvalRequest {
  display: inline-block;
  padding: 4px 6px;
  background: var(--primary);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
}

.approvalComplete {
  display: inline-block;
  padding: 4px 6px;
  background: var(--primary);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
}

.approvalRefusal {
  display: inline-block;
  padding: 4px 6px;
  background: var(--negative);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
}

.workWaiting {
  display: inline-block;
  padding: 4px 6px;
  background: var(--gray_bg);
  color: var(--text-color);
  border-radius: 4px;
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
}

.workOngoing {
  display: inline-block;
  padding: 4px 6px;
  background: var(--text-color);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
}

.workComplete {
  display: inline-block;
  padding: 4px 6px;
  background: var(--primary);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
}

.notificationBadge {
  display: inline-block;
  padding: 4px 12px;
  background: var(--primary);
  color: white;
  border-radius: 12px;
  font-size: 14px;
  margin-left: 12px;
  text-decoration: none;
}

.notificationBadge:hover {
  background: #2563eb;
}