/* 검색 영역 내에서 버튼 스타일 적용 */
.clientTableWrapper :global(.white_box) {
  padding: 50px 0 100px;
}

.searchBox .searchFlex {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 30px;
  width: 50%;
}

.searchBox .searchFlex input[type="text"] {
  flex: 1;
  margin-right: 6px;
}

.searchBox .searchFlex select {
  height: 42px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  padding: 0 12px;
  font-size: 13px;
  color: #475569;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/images/select_arrow.svg) no-repeat center right 10px;
  padding-right: 32px;
  background-size: 12px 10px;
}

/* 페이지 목록 테이블 공통 css */
.listTable {
  margin-top: 80px;
}

.listTable .tableTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 30px;
}

.listTable .tableWrap table tr:last-child {
  border-bottom: 1px solid var(--border-color);
}

.listTable .tableTop .topTotal p {
  font-size: 13px;
  font-weight: var(--font-weight-semibold);
  color: var(--text-gray);
}

.listTable .tableTop .topTotal p>span {
  color: var(--primary);
  font-weight: var(--font-weight-bold);
}

.listTable .tableTop .topBtnGroup {
  display: flex;
  align-items: center;
  gap: 6px;
}

.listTable .tableTop .topBtnGroup :global(.view_select) {
  height: 36px;
  padding: 0 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 13px;
  background-color: #fff;
}


.tableWrap table {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.tableWrap table th {
  padding: 24px 0;
  font-weight: var(--font-weight-semibold);
  color: var(--text-gray);
}

.tableWrap table tr {
  cursor: pointer;
  border-top: 1px solid var(--border-color);
}

.tableWrap table tbody tr:hover {
  background-color: rgba(59, 130, 246, 0.08);
}

.tableWrap table td {
  padding: 30px 10px;
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  vertical-align: middle;
  word-break: keep-all;
  box-sizing: border-box;
}


/* Status styles (global에서 가져옴) */
.statusOngoing {
  display: inline-block;
  font-size: 13px;
  color: var(--primary);
  font-weight: var(--font-weight-bold);
  background-color: var(--status-blue);
  padding: 5px 10px;
  border-radius: 4px;
  line-height: 1;
}

.statusEnd {
  display: inline-block;
  font-size: 13px;
  color: var(--text-gray);
  font-weight: var(--font-weight-bold);
  background-color: var(--status-gray);
  padding: 5px 10px;
  border-radius: 4px;
  line-height: 1;
}

.statusUnpaid {
  display: inline-block;
  font-size: 13px;
  color: var(--negative);
  font-weight: var(--font-weight-bold);
  background-color: var(--status-red);
  padding: 5px 10px;
  border-radius: 4px;
  line-height: 1;
}