.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.modalInner {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  padding: 30px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  border-bottom: 1px solid var(--text-color);
  margin: 0 30px 20px;
}

.modalHeader h3 {
  margin: 0;
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
}

.closeBtn {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  font-size: 24px;
  color: #64748b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s, opacity 0.2s;
  padding: 0;
  line-height: 1;
  font-size: 0;
  background: url(/images/close_icon.svg);
}

.searchBox {
  padding: 10px 30px 30px;
}

.searchForm {
  display: flex;
  gap: 8px;
  align-items: center;
}

.searchInput {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: 14px;
}

.tableWrap {
  padding: 0 30px;
  overflow: auto;
  flex: 1;
  margin-bottom: 60px;
}

.total {
  font-size: 13px;
  color: var(--text-gray);
  margin-bottom: 16px;
  font-weight: var(--font-weight-semibold);
}

.total span {
  color: var(--primary);
  font-weight: var(--font-weight-bold);
}

.modalTable {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.modalTable th {
  text-align: center;
  padding: 20px;
  color: var(--text-gray);
  font-weight: var(--font-weight-semibold);

}

.modalTable td {
  text-align: center;
  color: var(--text-color);
  font-weight: var(--font-weight-medium);
  padding: 20px;
  border-top: 1px solid var(--border-color);
  font-size: 14px;
}

.selectRow {
  cursor: pointer;
}

.selectRow:hover {
  background: var(--hover-bg);
}

.error,
.loading {
  padding: 20px;
  text-align: center;
  color: var(--text-gray);
}

.error {
  color: var(--negative);
}